<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="../static/css/style_plateforme.css">   
        <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon-32x32.png">
        <title>ALLIN</title>
    </head>

    <body>

    	<header>

    		<div class="header">
   				<div class="LogoHeader"><img src="../static/Images/logoblanc2.png" alt="Logo" class="Logo"> </div>
                                <div class="NomHeader"><h1 class="NameHeader">Salesman problem</h1></div>
                                

   				<div class="HeaderFond"></div>
			</div>
    	<div class="NavEmploye">
            
              <a href="{{ url_for('accueil') }}"  class="lien77">Accueil</a>
              <div class="Divider"></div>
              <a href="{{ url_for('logo',info='None') }}" id="enCours1" class="lien" >Salesman resolution</a>     
                 
              
        </div>
    	</header>
        
        
        
        <main class="PageInfo"  style="margin-top:300px;padding-bottom:70px">
            <div class="Info">
                <img src="../static/Images/tm.png" alt="Logo" class="LogoProfil1">
                <div>
                    <h1 class="policeProfil">Résolution de TSP :</h1>
                     <h3 class="type2">Bienvenue sur votre page de résolution de TSP. Pour cela veuillez déposer votre fichier CSV </br></h3>
                     
                </div>
            </div>
           
            
    
            
            <h2 class="txt2">Déposer votre fichier : </h2>
            
            <div class="Divider4"></div>                        
                    <div class="Info1">
                    <p style="color:white;font-family:futura;margin-top:40px">Veuillez déposer un fichier sous la forme CSV. Tout autre format ne sera pas accepté !</p>
                    
                    {% if info !="None" %}
                        <p style="color:red;font-family:Futura;">{{info}}</p>
                    {% endif %}
                    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                      <input type="file" name="file" style="font-family:Futura;color:white">
                     <div class="Envoi1">
                    
                    <button class="button" type="submit" name="envoyer" ><span>Envoyer le/les fichiers</span></button>
                </div>
    </form>
         </div>

           

                
        </main>
     
       
    	<footer class="footer5">
                
    		<div class="footerContenu1">
   			<div class="LogoFooter"><p><img src="{{ url_for('static', filename='Images/logoblanc2.png') }}" alt="Logo1" class="logo1"> </p></div>
            <div class="MailFooter"><h2 class="TextFooter"><br /> 67 Bd de Brandebourg, 94200 Ivry-sur-Seine<br />01 56 20 62 62<br />Nous contacter :<a href="mailto:directeur@teamsprint.fr">Envoyer un mail</a></h2></div>
		</div>

    	</footer>
    	
    </body>
</html>		