<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

    
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/style_plateforme.css') }}">   
	 <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='Images/favicon-32x32.png') }}">
        
        <title>ALLIN</title>
    </head>

    <body>

    	<header>

    		<div class="header">
   				
				<div class="LogoHeader"><img src="{{ url_for('static', filename='Images/logoblanc2.png') }}" alt="Logo" class="Logo"> </div>
                                <div class="NomHeader"><h1 class="NameHeader">Salesman problem</h1></div>
            

   				<div class="HeaderFond"></div>
			</div>
    	<div class="NavEmploye">
            
              <a href="{{ url_for('accueil') }}"  id="enCours1" class="lien">Accueil</a>
              <div class="Divider"></div>
              <a href="{{ url_for('logo',info='None') }}" class="lien77">Saleman resolution</a> 
                
              
        </div>
    	</header>
        
        <main class="PageInfo" style="margin-top:240px">
            <div class="Info">
		   <img src="{{ url_for('static', filename='Images/profil.png') }}" alt="Logo" class="LogoProfil1">
                <div>
                    <h1 class="policeProfil">Bienvenue,</h1>
                 
                     
                </div>
            </div>
           
            
    
            

            <h2 class="txt2">Notre plateforme :</h2>
            
            <div class="Divider4"></div>                        
                    <p style="color:white;font-family:Futura;width:90%;margin-left:40px">Bienvenue sur la plateforme ALLIN ! </br> </br> ALLIN est développée par des étudiants de l’ESME Sudria et a pour but de répondre à tous vos besoins liés aux problématiques de l’IT. Notre plateforme propose une solution des plus performantes au problème de Salesman.</p>
               
            <h2 class="txt2">Notre source de données :</h2>
             <div class="Divider4"></div>    
                 <div style="display:flex">
                   <p style="color:white;font-family:Futura;width:90%;margin-left:40px">Pour utiliser notre plateforme, nous vous proposons de vous rendre sur la page « Salesman resolution » et d’uploadez un fichier au format csv  contenant les informations sur les différentes villes en matière de distance et de coûts.Ce fichier sera enregistré sur notre github <a href="https://github.com/azury74/5daysv3/tree/main" target=”_blank” style="text-decoration: underline;">(LIEN GITHUB)</a> et utilisé par notre interface afin de vous donner les meilleurs résultats. </p>
                  
                </div>
            

                
            
            
           

                
        </main>
     
        <footer class="footer5">
                
    		<div class="footerContenu1">
   			<div class="LogoFooter"><p><img src="{{ url_for('static', filename='Images/logoblanc2.png') }}" alt="Logo1" class="logo1"> </p></div>
            <div class="MailFooter"><h2 class="TextFooter"><br /> 67 Bd de Brandebourg, 94200 Ivry-sur-Seine<br />01 56 20 62 62<br />Nous contacter :<a href="mailto:directeur@teamsprint.fr">Envoyer un mail</a></h2></div>
		</div>

    	</footer>
    	
    	
    </body>
</html>		